openapi: 3.0.3
info:
  title: OpenCDE - OpenAPI 3.0
  description: |-
    Catenda REST API v2 is the latest supported version and in this documentation we expose all the details on how to access these resources and what you can expect as return values.
    
    This documentation assumes a basic knowledge of how REST APIs work. Visit [this](https://www.restapitutorial.com/) link if you need an introduction to this topic.

    In case you have any questions or feedback, we would love to hear from you. Email us at support@catenda.com
  termsOfService: https://catenda.com/user-terms-of-service/
  contact:
    email: support@catenda.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.11
externalDocs:
  description: Find out more about Catenda REST API
  url: https://api.catenda.com/developers/reference/api/v2#catenda-rest-api-v2-stable
servers:
  - url: https://api.catenda.com/v2
tags:
  - name: project
    description: Information about what projects are that can be as long as needed
    externalDocs:
      description: Find out more about projects
      url: https://api.catenda.com/developers/reference/api/v2#projects
paths:
  /projects:
    get:
      tags:
        - project
      summary: List projects
      description: List all projects the current user is member of.
      operationId: listProjects
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
      security:
        - catenda_auth:
            - write:projects
            - read:projects
    post:
      tags:
        - project
      summary: Create project
      description: |-
        Create a new project. The project will be owned by the current user or the given origanization and count towards the owners project limit.

        The current user must be an owner of the organization if the new project will be owned by an organization.
      operationId: addProject
      requestBody:
        description: Create a new project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'          
        '403':
          description: Insufficient privilege
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseError'
              examples:
                100:
                  value:
                    code: 100
                    message: Insufficient privilege
                101:
                  value:
                    code: 101
                    message: Project limit exceeded
        '404':
          description: Organization (:org) not found
        '422':
          description: Message from input validation
      security:
        - catenda_auth:
            - write:projects
            - read:projects
  /project/{projectId}:
    get:
      tags:
        - project
      summary: Get project
      description: Get a project. The current user must be a member of the project.
      operationId: getProject
      parameters:
        - name: project
          in: path
          description: ID of project to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: Project (:project) not found
      security:
        - catenda_auth:
            - write:project
            - read:project
    put:
      tags:
        - project
      summary: Update an existing project
      description: Update a project. The current user must be an administrator of the project.
      operationId: updateProject
      requestBody:
        description: Update an existing project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '403':
          description: Insufficient privilege
        '404':
          description: Project (:project) not found
        '422':
          description: Message from input validation
      security:
        - catenda_auth:
            - write:projects
            - read:projects
    delete:
      tags:
        - project
      summary: Delete project
      description: |-
        Delete a project. The current user must be the owner of the project. If the project is owned by an organization, the user must an owner of the organization.
      operationId: deleteProject
      parameters:
        - name: project
          in: path
          description: ID of project that needs to be deleted
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '403':
          description: Insufficient privilege
        '404':
          description: Project (:project) not found
      security:
        - catenda_auth:
            - write:project
            - read:project
components:
  schemas:
    Project:
      required:
        - name
        - description
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 989038325613499ea6d35a3d8788b3a9
        name:
          type: string
          example: Old Town High School
        description:
          type: string
          example: Old Town, Stavanger
        imageUrl:
          type: string
          example: https://api.catenda.com/v2/projects/c729438c4f674d729fd42236783e6a12/image
      xml:
        name: project
    ApiResponseOk:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      xml:
        name: '##default'
    ApiResponseError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              format: int32
            message:
              type: string
      xml:
        name: '##default'
  requestBodies:
    Project:
      description: Project object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Project'
        application/xml:
          schema:
            $ref: '#/components/schemas/Project'
  securitySchemes:
    catenda_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://api.catenda.com/oauth2/authorize
          scopes:
            write:projects: modify projects that you are administrator
            read:projects: read projects you are a member of
